<!DOCTYPE HTML"
<html>
 <head>
  <meta http-equiv="Content-Type" content="text"; charset=utf-8">
  <title>Главная страница</title>
<body>
  <table width="100%" cellpadding="10" cellspacing="0" border="1">
   <tr>
    <td></td>
    <td align="center">{{ GEN_1 }}</td>
    <td align="center">{{ GEN_2 }}</td>
    <td align="center">{{ GEN_3 }}</td>
    <td align="center">{{ GEN_4 }}</td>
   </tr>
<tr>
    <td>{{ Engine_RPM }}</td>
    <td align="center">{{ GEN_1_Engine_RPM }}</td>
    <td align="center">{{ GEN_2_Engine_RPM }}</td>
    <td align="center">{{ GEN_3_Engine_RPM }}</td>
    <td align="center">{{ GEN_4_Engine_RPM }}</td>
   </tr>
  </table>
 </body>